
project/.vs/K8Sniperiino/v15/.suo
project/K8Sniperiino/bin/Debug/netcoreapp1.1/K8Sniperiino.dll
project/K8Sniperiino/bin/Debug/netcoreapp1.1/K8Sniperiino.pdb
project/K8Sniperiino/obj/Debug/netcoreapp1.1/CoreCompileInputs.cache
project/K8Sniperiino/obj/Debug/netcoreapp1.1/K8Sniperiino.csproj.FileListAbsolute.txt
project/K8Sniperiino/obj/Debug/netcoreapp1.1/K8Sniperiino.dll
project/K8Sniperiino/obj/Debug/netcoreapp1.1/K8Sniperiino.pdb
project/K8Sniperiino/obj/K8Sniperiino.csproj.nuget.g.props
project/K8Sniperiino/obj/project.assets.json
